.contact-container {
    padding: 50px;
    min-height: 300px;
    text-align: center;
}

.email_group{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 3vw;
}