.title_con{
    margin: 0 auto;
    text-align: center;
}
.title{
    text-align: center;
    font-size: 7vw;
    display: inline-block;
}
.middle_panel{
    width: 90%;
    margin: 0 auto;
}
.mission_des p{
    font-size: 3vw;
    margin-top: 20px;
    margin-bottom: 50px;
} 