.title_con{
    margin: 0 auto;
    text-align: center;
}
.title{
    text-align: center;
    font-size: 4em;
    display: inline-block;
}
.middle_panel{
    width: 60%;
    margin: 0 auto;
}
.mission_des p{
    font-size: 1.7em;
    margin-top: 20px;
    margin-bottom: 50px;
} 