h1 {
    text-align: center;
    font-size: 5vw;
  }
  
  .gallery-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #252e48;
  }
  
  .gallery-see-more {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    
  }
  
  .recent__cards__container {
    margin-top: 50px;
  }

  .recent-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 30%;
  }

  .url {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  
  .recent-video:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
  }
  
  .recent-vid-background {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
  }
  
  .recent-grid-layout {
    display: flex;
    justify-content: center;
  }

  .hero-btns {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 50px;
  }