h1 {
  text-align: center;
}

.cards__container {
  margin-top: -120px;
}

.gallery-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: #252e48;
}

.gallery-see-more {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  
}

.video {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 10px;
  margin-top: 50px;
}

.video:hover {
  cursor: pointer;
}

.background {
  color: #fff;
  font-size: 100px;
  text-align: center;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1200px) {
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .grid-layout {
    display: grid;
    grid-template-columns: 1fr;
  }
}