.App {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.video {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #A8DDA8;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.video:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.video .title {
  flex: 20%;
  border-bottom: 1px solid #354463;
  background-color: #354463;
  display: grid;
  place-content: center;
  color: #C1F7D5;
}

.video .url {
  flex: 60%;
  display: grid;
  place-content: center;
}

.video .description{
  flex: 20%;
  border-top: 1px solid #C1F7D5;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #354463;
  color: #C1F7D5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}